<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springmvc.dao.UserDao">
	<select id="checkUser" resultType="user" parameterType="user">
		select * from user where uname =  #{uname} and pwd = #{pwd}
	</select>	
	<insert id="register" parameterType="user">
		insert into user(uid,uname,pwd,email,profile,sex) values(null,#{uname},#{pwd},#{email},#{profile},#{sex})
	</insert>
</mapper>